{% extends "registration/base.html" %}{% load i18n %}
{% block titleblock %}Reset Password{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="{% url 'index' %}">Home</a> <i class="icon-angle-right"></i></li>
						<li>Forgot Password <i class="icon-angle-right"></i></li>
						<li class="active">Set New Password</li>

					</ul>
					<h2>Set New Password</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="container">
	<div class="container">
		<div class="row">
			<div class="span8">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="btn btn-theme btn-rounded" value="Change my password">
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}