{% extends 'registration/base.html' %}
{% load i18n %}
{% block titleblock %}
Forgot Password
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="inner-heading">
                <ul class="breadcrumb">
                  <li><a href="{% url 'index' %}">Home</a> <i class="icon-angle-right"></i></li>
                  <li class="active">Forgot Password</li>
                </ul>
                <h2>Password Reset Complete</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
     
     <section id="container">
	<div class="container">
		<div class="row">
			<div class="span8">
				
                    <p>Your new password has been set. You can log in now on the <a href="{% url 'index' %}">log in page</a>.</p>

			</div>
		</div>
	</div>
</section>

     
{% endblock %}
{% block js %}

{% endblock %}