{% extends 'registration/base.html' %}
{% load i18n %}
{% block titleblock %}
Forgot Password
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="inner-heading">
                <ul class="breadcrumb">
                  <li><a href="{% url 'index' %}">Home</a> <i class="icon-angle-right"></i></li>
                  <li class="active">Forgot Password</li>
                </ul>
                <h2>Recover Your Account</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="container">
<div class="container">
        <div class="row">
          <div class="span8">
            <form method="post" class="contactForm" action='{% url 'password_reset2' %}'>
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" class="btn btn-theme " value="{% trans "Recover my password" %}"></p>
        </form>
            
          </div>
         
        </div>
      </div>
      </section>
     
{% endblock %}
{% block js %}

{% endblock %}